<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.14159265"/>
  <joint name="realsense_joint" type="fixed">
    <parent link="body_link"/>
    <child link="realsense_link"/>
    <origin xyz="-0.39 0.0 0.08" rpy="0.0 0.0 ${pi}"/>
  </joint>

  <link name="realsense_link">
    <visual>
      <geometry>
        <mesh filename="package://rover_description/meshes/d435.dae" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <color rgba="0.9 0.9 0.9 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="realsense_link" />
    <child link="imu_link"  />
  </joint>

  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <!-- Optical joint will rotate the camera because it uses a different coordinate system where two axis are inverted -->

  <joint name="realsense_optical_joint" type="fixed">
    <parent link="realsense_link"/>
    <child link="realsense_link_optical"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <link name="realsense_link_optical">
  </link>

  <gazebo reference="realsense_link">
    <sensor name="camera" type="camera">
      <ignition_frame_id>realsense_link</ignition_frame_id>
      <optical_frame_id>realsense_link_optical</optical_frame_id>
      <camera>
        <horizontal_fov>1.085595</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>RGB_INT8</format>
        </image>
        <camera_info_topic>/camera/camera_info</camera_info_topic>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
        <distortion>
          <k1>0.096559</k1>
          <k2>-0.237840</k2>
          <k3>0.113659</k3>
          <p1>0.000396</p1>
          <p2>0.000247</p2>
          <center>0.5 0.5</center>
        </distortion>
      </camera>
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <visualize>false</visualize>
      <topic>camera/image_raw</topic>
      <enable_metrics>true</enable_metrics>
    </sensor>
  </gazebo>


  <gazebo reference="realsense_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <ignition_frame_id>realsense_link</ignition_frame_id>
      <camera name="rgbd_camera_frame">
        <horizontal_fov>1.3962634</horizontal_fov>
        <lens>
          <intrinsics>
            <fx>277.1</fx>
            <fy>277.1</fy>
            <cx>160.5</cx>
            <cy>120.5</cy>
            <s>0</s>
          </intrinsics>
        </lens>
        <distortion>
          <k1>0.104207</k1>
          <k2>-0.255558</k2>
          <k3>0.128694</k3>
          <p1>0.000512</p1>
          <p2>0.000319</p2>
          <center>0.5 0.5</center>
        </distortion>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>300</far>
        </clip>
        <depth_camera>
          <clip>
            <near>0.1</near>
            <far>10</far>
          </clip>
        </depth_camera>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.003</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <visualize>0</visualize>
      <topic>depth_camera</topic>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <ignition_frame_id>imu_link</ignition_frame_id>
      <always_on>true</always_on>
      <update_rate>25</update_rate>
      <visualize>false</visualize>
      <topic>imu</topic>
      <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu">
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

</robot>